<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <nav th:replace="/fragments/nav-bar :: nav-bar-dark"> </nav>

        <div class="container">
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <span th:text="${error}" ></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <span th:text="${success}" ></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="card mt-5">
                <div class="card-header d-flex">
                    <h1>Crear Persona</h1>
                    <button class="btn-dark ms-auto"><a class=" px-5 py-2" th:href="@{/persona/list}">Volver</a></button>
                </div>
                <div class="card-body">

                    <form th:action="@{/persona/save}" method="post" th:object="${persona}" enctype="multipart/form-data" class="col-6 mx-auto">
                        <input hidden th:field="*{id}">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nahuel">
                        </div>
                        <div class="mb-3">
                            <label for="edad" class="form-label">Apellido</label>
                            <input type="text" class="form-control" th:field="*{apellido}" placeholder="Bullón">
                        </div>
                        <div class="mb-3">
                            <label for="edad" class="form-label">Edad</label>
                            <input type="number" class="form-control" th:field="*{edad}" placeholder="25">
                        </div>


                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Elija las ciudades correspondientes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each=" c : ${ciudades}" >
                                    <input type="checkbox" id="cbox2" th:value="${c.id}" th:field="*{ciudad.id}"> <label for="cbox2">Este es mi segundo checkbox</label>
                                    
                                </tr>
                            </tbody>
                            <p th:if="${ciudades.isEmpty}">No hay ciudades para mostrar</p>
                        </table>

                        <div class="mb-3">
                            <label for="Foto" class="form-label">Edad</label>
                            <input type="file" class="form-control" name="archivo" >
                        </div>
                        <div class="mb-3">
                            <label for="Contraseña" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" th:field="*{contraseña}" >
                        </div>
                        <div class="mb-3">
                            <label for="Repetir la contraseña" class="form-label">Repetir la contraseña</label>
                            <input type="password" class="form-control" name="contraseña2" >
                        </div>

                        <button type="submit" class="btn-dark px-5 py-2 ms-auto">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>